<div class='body-container'>
    <br>
    
<div class="container">
  <div class="row">
    <div class="col-sm">
        <figure>
        <p><img class=scaled src=<%=@news[0]["image"]%>>
        <figcaption>
            <div class="img-caption">
                <%= link_to @news[0]["title"], @news[0]["link"] %>
                <p class="img-description"> <%=@news[0]["description"]%> </p>
                <div class="test" style="background-color:white; padding:7px; border-radius:5px;">
                    <p class="img-description"> 
                        <img class="lower-img" style="background-color:white;" src=<%=@news[1]["image"]%>> 
                        <br>
                        <b style="background-color:white;"><%=link_to @news[1]["description"], @news[1]["link"]%></b>
                    </p>
                </div>
                <br>
            </div>
        </figcaption>
    </figure>
    <figure>
    </div>
    <div class="col-sm">
        <h6> Top Headlines: </h6>
        <hr>
        <ul style="list-style-type: none;">
            <% @news.drop(2).take(17).each do |article| %>
            <li style="font-size:14px"> <%= link_to article["title"] %> </li>
            <li>
            <% end%>
        <br>
        <b style="text-align:left;">Read more on <%= link_to 'ESPN', 'https://www.espn.com/nfl'%> </b>
        <ul>
        <br>

    </div> 
    
  </div>
</div>
</div>
