<div class='body-container'>
<% if params[:id].to_i == current_user.id %>
  <%= render 'greeting' %>
<% end %>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1> Recent Pick: </h1>
      <h1 style="color:#15088a"><%= @user.picks.last.team.name%></h1>
    </div>
    <div class="col-sm">
      <b>Date of Game: </b>
      <p> <%= get_game(@user.picks.last).date.to_time.localtime.strftime('%A, %B %dth')%></p>
      <b>Opponent:</b>
      <p><%= opponents(@user.picks.last.team, get_game(@user.picks.last))%></p>
    </div>
  </div>
</div>
<br>
<h3> Season Picks </h3>
</div>
<%= render partial: 'picks/table', locals: { picks: @user.picks } %>
