<%= form_for [@user, @pick], html: {class: "border border-light p-5"} do |f| %>
    <% if @pick.errors.any? %>
        <div id= "error_explanation">
            <% @pick.errors.full_messages.each do |message| %>
                <em style="color:red;font-size:12px;" > <%= message %> </em>
            <% end %>
        </div>
    <% end %>

    <div class="form-group">
    <label> Team </label><br>
        <%= f.collection_select(:team_id, current_user.remaining_teams, :id, :name, html: {class: "form-control form-control-lg"}) %>
    </div>

    <div class="form-group">
    <%= f.label :buy_in %>:<br>


    <%=f.select :buy_in, [['TRUE', true], ['FALSE', false]]%>
    </div>
    <div class="actions">
    <%= f.submit 'Create Pick', class: 'btn btn-info btn-block my-4'%>
    </div>
<% end %>
