<div class='body-container'>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Week</th>
      <th>Picked Team</th>
      <th></th>
      <th>Date Picked</th>
      <th>Date of Game</th>
      <th>Outcome</th>
      <th>Buy In?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% picks.each do |p|%>
    <tr>
      <td>Week <%= p.week.id%></td>
      <td><%= p.team.name %></td>
      <% if (p.week == current_week) && (params[:user_id].to_i == current_user.id) %>
        <td style='font-size:12px;'><%= link_to 'Edit Pick', edit_user_pick_path(p.user, p)%> - <%= link_to 'Delete Pick', user_pick_path(p.user, p), method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <%else%>
        <td></td>
      <%end%>
      <td><%= p.updated_at.localtime.strftime('%A, %B %dth')%></td>
      <td></td>

      <% if get_game(p).winner_id == nil%>
        <td style="color:red; font-size:12px;">Game Has Not Started</td>
      <% else %>
        <td><% get_game(p).winner.name %>
      <% end %>
      <td><%= p.buy_in%></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>