<!DOCTYPE html>
<html>
  <head>
    <title>NflpickemApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag   "navigation" %>


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'NFL Pick-Em', root_path, class: 'navbar-brand'%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Schedule
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'League Schedule', schedule_path, class: 'nav-link'%>
              <%= link_to 'Team Schedule', teams_path, class: 'nav-link'%>
            </div>
          </li>
          
        <% if user_signed_in?%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              League
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%=link_to 'League Overview', league_path, class: "dropdown-item"%>
              <%if !(has_current_pick?) %>
                <%=link_to 'Make Weekly Pick', new_user_pick_path(current_user), class: "dropdown-item"%>
              <% end %>
                <%=link_to 'View & Edit Picks', user_picks_path(current_user), class: "dropdown-item"%>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://venmo.com/pbedrosian">Veno Buy-in</a>
            </div>
          </li>
        <%end%>

        </ul>
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item">
               <% if user_signed_in? %>
                <%= link_to 'Profile', user_path(current_user), class: 'nav-link'%>
              <% else %>
               <%= link_to 'Log In', new_user_session_path, class: 'nav-link'%> 
              <% end %> 
            </li> 
            <li class="nav-item">
               <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link'%>
              <% else %>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %> 
              <% end %> 
            </li>  
        </ul> 
      </div>
</nav>
<br>
    <div class='body-container', style="text-align:center;">
      <em ><%= render 'layouts/alerts' %> </em>
    </div>